.react-horizontal-scrolling-menu--wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .react-horizontal-scrolling-menu--scroll-container {
    order: -1;
    flex-basis: 100%;
    flex-shrink: 0;
  }
  