html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.no-scroll {
  overflow-y: hidden;
  padding-right: 15px;
}
/* Safari */
@supports (-webkit-backdrop-filter: blur(1px)) {
  .no-scroll {
    padding-right: initial;
  }
}
/* Firefox */
@supports (-moz-appearance:none) {
  .no-scroll {
    padding-right: 12px;
  }
}