{
  "ignore": [],
  "plugins": [
    "syntax-jsx",
    "syntax-object-rest-spread",
    "transform-class-properties"
  ],
  "presets": [
    "react",
  ["env", {
    "useBuiltins": "entry"
  }],
    "stage-3",
    "stage-2"
  ],
  "env": {
    "production": {
      "plugins": ["transform-react-remove-prop-types"]
    }
  }
}
