.no-scroll {
    overflow-y: hidden;
    padding-right: 15px;
  }
  /* Safari */
  @supports (-webkit-backdrop-filter: blur(1px)) {
    .no-scroll {
      padding-right: initial;
    }
  }
  /* Firefox */
  @supports (-moz-appearance:none) {
    .no-scroll {
      padding-right: 12px;
    }
  }