.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
-ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* increase specificity for override styles */
/* .example .react-horizontal-scrolling-menu--scroll-container { */
/*   width: 99%; */
/* } */


